<!DOCTYPE html>
<html lang="en">
  {{>header}}
  <body>
    {{>navbar}}

    <!-- main header -->

    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row d-flex justify-content-between">
            <div class="col-md-12 col-12 main_header_left align-items-center">
              <figure class="errImg">
                <img
                  src="img/404.jpeg"
                  alt="Error"
                  class="img-fluid"
                  title="Its Error Kindly GoBack"
                />
              </figure>
              <p>Welcome to Satyabrata World</p>
              <h1>
                {{errorMsg}}
              </h1>
              <a href="/" ><button>Go Back</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    {{> footer}}
  </body>
</html>
