<!DOCTYPE html>
<html lang="en">
{{>header}}
  <body>
   {{> navbar}}


   <div class="container-fluid main_header">
<div class="row">
    <div class="col-md-10 col-12 mx-auto">
        <div class="main_content">
            <form class="temp_form">
                <input type="text" id="cityName" placeholder="Enter your City Name" autocomplete="off">
                <input type="submit" value="search" id="submitBtn">
            </form>
        </div>


        <div class="tempInformation">
<div class="top_layer">
    <p id="day">Monday</p>
    <p id="today_date">13 OCT</p>
</div>
<div class="main_layer">
    <p id="city_name">Get Output Here</p>
    <div class="middle_layer data_hide">
        <p id="temp" ><span id="temp_real_val">0</span><sup>o</sup>C</p>
        <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
    </div>
</div>
        </div>
    </div>
</div>
   </div>
    <!-- footer -->
    {{> footer}}

    <script src="js/main.js"></script>
    <script>
       
        const getCurrentDay = ()=>{
            let weekDay = new Array(7)
            weekDay[0]= "sun";
            weekDay[1]= "Mon";
            weekDay[2]= "Tues";
            weekDay[3]= "Wed";
            weekDay[4]= "Thurs";
            weekDay[5]= "Fri";
            weekDay[6]= "Sat";

            let currentTime = new Date()

            let days = weekDay[currentTime.getDay()]
             let day = document.getElementById("day")
            
            day.innerText = days;

        }
        getCurrentDay()
         const getCurMonth = ()=>{
            const Months = ['Jan','Feb','Mar','Aprl','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec']
            let now = new Date();
            let month = Months[now.getMonth() +1].toUpperCase();
            let date = now.getDate();
            let today_date = document.getElementById("today_date")
            today_date.innerText = `${date} ${month}`
         }
         getCurMonth()
    </script>
  </body>
</html>
